{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
            <a class="mr-2"><img class="rounded-circle article-img" src="{{ url_for('static', filename='cool.png') }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"></a>
                    <small class="text-muted">2022</small>
                </div>
                <h2 class="article-title">About Page</a></h2>
                <p class="article-content">Soon to be more updates to TWATr. If you have any suggestions or ideas on some cool functions just drop a twat and I will try to implement them.

                Have fun and enjoy!
                TWATr Team</p>
                <div>

                </div>
                <p class="card-text">


            </div>


{% endblock content %}
