{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
            <a class="mr-2"><img class="rounded-circle article-img" src="{{ url_for('static', filename='cool.png') }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"></a>
                    <small class="text-muted">2022</small>
                </div>
                <h2 class="article-title">Announcements</a></h2>
                <p class="article-content">We have launched a new Like button along with Comments!.

                Leave us a Twat if you have new ideas for us!

                Have fun and enjoy!
                TWATr Team</p>
                <div>

                </div>
                <p class="card-text">


            </div>


{% endblock content %}
